<div class="container employee-container">
  <h2>Employees</h2>   
  <div class="search-container employee-search-container">
    <form [formGroup]="form" (ngSubmit)="searchEmployees()">
      <input type="text" placeholder="Search.." formControlName='search'>
      <button class="btn-primary" type="submit">Get Employees</button>
      <button class="btn-primary" type="button" (click)="clear()">Clear</button>
    </form>
  </div>       
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Contract Type Name</th>
        <th scope="col">Role Id</th>
        <th scope="col">Role Name</th>
        <th scope="col">Role Description</th>
        <th scope="col">Hourly Salary</th>
        <th scope="col">Monthly Salary</th>
        <th scope="col">Annual Salary</th>
      </tr>
    </thead>
    <tbody *ngIf="!loader && !showError">
      <tr *ngFor="let employee of employeesList">
        <th>{{employee.id }}</th>
        <td>{{employee.name}}</td>
        <td>{{employee.contractTypeName}}</td>
        <td>{{employee.roleId}}</td>
        <td>{{employee.roleName}}</td>
        <td>{{employee.roleDescription}}</td>
        <td>{{employee.hourlySalary}}</td>
        <td>{{employee.monthlySalary}}</td>
        <td>{{employee.annualSalary}}</td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="loader" class="text-center">
    <div class="spinner-border text-primary"></div>
  </div>
  <div class="text-center" *ngIf="!loader && !showError && employeesList && employeesList.length === 0">
    <span>
        No data available
    </span>
  </div>
  <div class="text-center" *ngIf="!loader &&  showError">
    <span>
        {{errorMessage}}
    </span>
  </div>
</div>